#include <windows.h>
#include "resources.h"

IDI_APPICON               ICON        DISCARDABLE            "icon.ico"

IDD_SETTINGS DIALOGEX 0, 0, 252, 188
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Settings"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "Ignored Languages", IDC_LANGUAGES_GROUP, 7, 7, 238, 128
    CONTROL         "", IDC_LANGUAGES_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL |
                    LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP, 14, 20, 224, 108

    CONTROL         "Beep when switching keyboards", IDC_BEEP_CHECK, "Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP, 7, 142, 140, 10

    DEFPUSHBUTTON   "OK", IDOK, 141, 167, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 195, 167, 50, 14
END
